html{
    height: 100%;
    scroll-behavior: smooth;
   
}

 * {
    margin: 0;
    padding: 0;
 }
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}

/*    Início do Header    */

.header-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;   
    padding-top: 5px;
    position: fixed;
    z-index: 1;
    box-shadow: 0 1px 0 rgb(200, 198, 198);
}


.header-1--logo--1{
    width: 80px;
    height: 60px;
    margin-left: 100px;
    /* border: 1px solid #CD1C0C; */
    border-radius: 5px;
}



.header-1--logo--2{
    width: 80px;
    height: 45px;
    /* border: 1px solid #CD1C0C; */
    padding: 7px;
    border-radius: 5px;
  }


.header-1--menu{
    margin-right: 100px;
  }

.header-1--menu li{
    display: inline-block;
    list-style-type: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

.header-1--menu li:nth-child(3) a{
    color: white;
    background-color: #f82510;
    transition: .5s;

}
.header-1--menu li:nth-child(3):hover a{
background: #ff7161;
}

.header-1--menu li a{
    display: inline-block;
    color: #f82510;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #f82510;
    padding: 10px;
    border-radius: 5px;
    transition: .5s;

}
.header-1--menu li a:hover{
background: #fff2f0;

}

/*    Fim do Header    */


/*    Início do Hero    */

.heartcare_container{
  
    max-width: 100%; /* ou a largura desejada */
    height: 100%;
 
}

.heartcare_container--img-background img{
    width: 100%;
    display: block;
    height: 100%;
    
    /* height: 100%; */
  
}

.heartcare_container--img-sobreposta {
    max-width: 100%;

}

.heartcare_container--img-sobreposta img {
    max-width: 600px;
    height: 422px;
    position: absolute;
    top: 70px;
    right: 26px;
}

.heartcare_container--intro{
    position: absolute;
    top: 226px;
    left: 112px;
    font-size: 25px;
    color: white;
   
}


.heartcare_container--intro h2{
    font-size: 25px;
    color: #f7f1f1;
    margin-top: 30px;
    margin-bottom: 35px;

}

.heartcare_container--intro a{
    text-decoration: none;
}
.heartcare_container--intro button{
    background-color: white;
    color: #f82510;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    width: 176px;
    height: 63px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    transition: .5s;
}

.heartcare_container--intro button:hover{
 background: rgb(239, 222, 222);

}
/*    Fin do Hero    */




/*    Início da section Calculara    */

section.calculadora {
    background: white;
}

section.calculadora::after {
    content: url("/docs/imagens/Vector.png");
    position: relative;
    bottom: 580px;
}

.calculadora h1 {
   
    font-size: 32px;
    text-align: center;
    color: #f82510;
    padding-top: 100px;

}

.calculadora h1::before {
    content: url("/docs/imagens/aspas.svg");
  

}
section.calculadora article{
    background: #EAEAEA ;
    width: 900px;
    height: 300;
    margin: auto;
    border-radius: 5PX;
    box-shadow: 2px 2px 0px rgb(200, 198, 198);
}

section.calculadora article h2 {
    text-align: center;
    margin-top: 36px;
    padding-top: 30px;
    font-size: 20px;

 }
section.calculadora article img{
    display: flex; 
    margin: auto;

}

section.calculadora h3 {
    font-size: 20px;
    text-align: center;
    color: #f82510;
    margin: 50px 0 20px 0;

}

section.calculadora form#imcForm .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

section.calculadora form#imcForm input{
    display: flex;
    margin-left: 20px;
    margin-right: 3px;
    border: 1px solid #f82510; 
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    
}
 
section.calculadora form#imcForm select{
    appearance: none; 
    border: 1px solid #f82510; 
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    color: #767678;
    text-align: center;
    outline: none;
} 

section.calculadora .button {
    width: 100%;
    text-align: center;
}
section.calculadora button{
  background:  #f82510;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: .5s;
}

section.calculadora button:hover{

    background: #ff7161;
}

section.calculadora .imcResultado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
  padding-bottom: 100px;

}

section.calculadora .imcResultado .imcClassificacao__Resultado{
    background: #EAEAEA;
    border-radius: 3px;
    box-shadow: 2px 2px 0px rgb(200, 198, 198);
    width: 400px;
}

section.calculadora .imcResultado .imcClassificacao__Resultado p#resultado{
    font-size: 56px;
    color: #f82510;
    margin-top: 20px;
    text-align: center;
       
 }
 
 section.calculadora .imcClassificacao{
     display: flex;
     width: 100%;
     height: 285px;
       
 }
 section.calculadora .imcClassificacao .imc,
 section.calculadora .imcClassificacao .classificacao{
     text-align: center;
            
 }

 section.calculadora .imcClassificacao .imc h3,
 section.calculadora .imcClassificacao .classificacao h3{
     margin: 30px;
     font-size: 20px;
     color: black;
 }
 section.calculadora .imcClassificacao .imc p,
 section.calculadora .imcClassificacao .classificacao p{
     margin: 30px;
     font-size: 20px;
  }


section.calculadora .imcResultado .imcImagem {
    background: #EAEAEA;
    width: 250px;
    height: 365px;
    border-radius: 3px;
    box-shadow: 2px 2px 0px rgb(200, 198, 198);
    justify-content: center;
    align-items: center;
    display: flex;
}

section.calculadora .imcResultado .imcImagem img {
  width: 200px;
  height: 345px;
 
}

hr{
    margin: auto;
    background:url("/docs/imagens/Line.png"); 
    width: 1122px;
    height: 2px;
}

/*    Fim da section Calculara    */


/*    Início da section  saber__sobre__o__que  */


section#saber__sobre__o__que {
    background: white;
    /* padding-bottom: 100px; */
    height: 100%;
}

section#saber__sobre__o__que h1{
    font-size: 32px;
    text-align: center;
    color: #f82510;
    padding-top: 100px;

}
section#saber__sobre__o__que .header-2 h1::before {
    content: url("/docs/imagens/aspas.svg");
  

}

section#saber__sobre__o__que .header-2 .header-2--barra-pesquisa{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

section#saber__sobre__o__que .header-2 .header-2--barra-pesquisa input{
    margin-right: 3px;
    border: 1px solid #f82510; 
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    outline: none;
}

section#saber__sobre__o__que .header-2 .header-2--barra-pesquisa button{
    background:  #f82510;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: .5s;
}
section#saber__sobre__o__que .header-2 .header-2--barra-pesquisa button:hover{

    background: #ff7161;
}
/* 
section#saber__sobre__o__que article .saber__sobre__o__que__conteudo{
 
    width: 100%;
 
  
} */

section#saber__sobre__o__que article .saber__sobre__o__que__conteudo .conteudo-1, 
section#saber__sobre__o__que article .saber__sobre__o__que__conteudo .conteudo-2,
section#saber__sobre__o__que article .saber__sobre__o__que__conteudo .conteudo-3,
section#saber__sobre__o__que article .saber__sobre__o__que__conteudo .conteudo-4,
section#saber__sobre__o__que article .saber__sobre__o__que__conteudo .conteudo-5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 750px;
    margin: 10px auto;
    border: 1px solid #EAEAEA;
    background: #EAEAEA;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgb(200, 198, 198);
   
}

section#saber__sobre__o__que article .saber__sobre__o__que__conteudo > div{
  display: flex;
  justify-content: center;
  align-items: center;
}



section#saber__sobre__o__que article .saber__sobre__o__que__conteudo > div img{
   background: white;
   width: 100px;
   height: 80px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 0px rgb(200, 198, 198);
}
section#saber__sobre__o__que article .saber__sobre__o__que__conteudo > div p{
 
  background: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;

  width: 400px;
}
section#saber__sobre__o__que article .saber__sobre__o__que__conteudo > div button{
    background: white;
    border: 1px solid #f82510;
    padding: 10px;
    border-radius: 3px;
    color: #f82510;
    font-size: 14px;
    transition: .5s;
    cursor: pointer;


}

section#saber__sobre__o__que article .saber__sobre__o__que__conteudo > div button:hover{

background: rgb(239, 222, 222);

}
/*    Fim da section saber__sobre__o__que    */



/*    Início da section  Contatos Úteis  */

header.header-3{
    background: white;
    border: none;
}
header.header-3 h1{
    font-size: 32px;
    text-align: center;
    color: #f82510;
    padding-top: 100px;

}

header.header-3::after {
 content: url("/docs/imagens/Detalhe.svg");
 position: relative;
 bottom: 920px;
}
header.header-3 h1::before {
    content: url("/docs/imagens/aspas.svg");
  

}

header.header-3 .header-3--barra-pesquisa{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

header.header-3 .header-3--barra-pesquisa input{
    margin-right: 3px;
    border: 1px solid #f82510; 
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    outline: none;
  
}

header.header-3 .header-3--barra-pesquisa button{
    background:  #f82510;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: .5s;
}

header.header-3 .header-3--barra-pesquisa button:hover{
    background: #ff7161;
 
}
header.header-3 .contatosUteis {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 100px;
   
}

header.header-3 .contatosUteis > div{
    display: flex;
 
       
}
header.header-3 .contatosUteis div > img{
    margin: 10px;
    background: #EAEAEA;
    padding: 20px;
    border-radius: 5px;
}

header.header-3 .contatosUteis div > p{
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
}
header.header-3 .contatosUteis div  p strong{
    text-align: center;
    font-size: 16px;
}

header.header-3 .conteudo-1 > div, 
header.header-3 .conteudo-2 > div{
    background: #EAEAEA;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgb(200, 198, 198);
}

/*    Fim da section  Contatos Úteis  */




/*    Inicio Header Informação   */




section.header-informacoes{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: auto;
   width: 1100px;
   position: relative;
   bottom: 100px;
   
}

section.header-informacoes .header-informacoes--logo{
    width: 280px;
    height: 250px;
    text-align: center;
  
}
section.header-informacoes .header-informacoes--logo img{
     width: 80px;
}

section.header-informacoes  p{
   width: 160px;
   text-align: center;
   margin: 10px 25px;
}

section.header-informacoes nav{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
}

section.header-informacoes ul{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

section.header-informacoes ul:nth-child(2) {
 margin-left: 100px;
 }

section.header-informacoes ul li{
   width: 100%;
   list-style: none;
   margin: 5px 0;
}

section.header-informacoes ul li a{
  text-decoration: none;
   color: black;
  }


/*    Fim Header Informação   */


/*   Inicio Footer   */

footer.rodape{
    background: #f82510;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}
/*   IniFim Footer   */


/* Mudar a cor do scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f82510;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f82510;
  }